### List -> x = [, ]

In [8]:
a = [1, "ali", True, None, 2.5]
a[2] = False
a

[1, 'ali', False, None, 2.5]

In [18]:
lst = [10, 20, 30 , 10, 20, 30]
# for i in range(10, 21):
#     if i % 2 == 0:
#         lst.append(i)
# for _ in lst:
#     if _ == lst[-1]:
#         print(_)
#     else:
#         print(_, end=" + ")

for _ in range(len(lst)):
    if _ == len(lst) - 1:
        print(lst[_])
    else:
        print(lst[_], end=" + ")

print("c1", end="")
print("continue")

10 + 20 + 30 + 10 + 20 + 30
c1continue

In [ ]:
print([_ for _ in range(10, 21) if _ % 2 == 0 and _ >= 12])

[12, 14, 16, 18, 20]

### tuple -> x = (, ) or x = 1, 2, 3

In [23]:
t = (1, 2, 3)
t

(1, 2, 3)

In [24]:
t[1] = "ali"

TypeError: 'tuple' object does not support item assignment

In [29]:
lt  = list(t)
lt[1] = "ali"
t = tuple(lt)
t

(1, 'ali', 3)

In [31]:
fruits = ["apple", "banana", "cherry"]
green = fruits[0]
yellow = fruits[1]
red = fruits[2]
print(green, yellow, red)

apple banana cherry

#### unplace

In [40]:
fruits = "cucumber" , "apple", "banana", "cherry", "watermelon", "orange" # tuple
green, *yellow, red, purple = fruits
print("green: ", green)
print("yellow: ", yellow)
print("red: ", red)

green:  cucumber
yellow:  ['apple', 'banana', 'cherry']
red:  watermelon

### set -> {, , }

In [46]:
s1 = {"ali", "reza", "mohammad"}
s2 = {"sara", "nika", "abbas", "soraya", "armita"}
print(s1[1])

TypeError: 'set' object is not subscriptable